*{
	margin: 0;
	padding: 0;
}
body{
	font-family: sans-serif;
}
a{
	text-decoration: none;
	font-weight: bold;
	padding:5px;
	
}
a:link{
	color: #FF9BA5;
} 

a:visited{
	color: #FF9BA5;
	
}

a:hover{
	
	color: #FF4662;
}
/****lauout
****/
#fundo{
	background: url(./imagens/fundix.jpg)repeat;
}
#principal{
	
	 background:#FF9BA3
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
);
      

	width: 920px;
	padding: 15px;
	
	margin: 30px auto;
}
#principal2{
	
	 background:#FF9BA3
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
);
      
	width: 920px;
	padding: 15px;
	
	margin: 30px auto;
}
#principal3{
	

	
	 background:#FF9BA3
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
);
      

	width: 920px;
	padding: 15px;
	
	margin: 30px auto;
}
#cabecalho{
	background: white
	      linear-gradient(
          rgba(255,215,0,0.5), 
          rgba(255,215,0,0.2)
) ;

      ;
	font-size: 2em;
	text-align: center;

	margin: 0 auto;
}
#logo{
	margin: 0px;
	padding: 0px;
}
#feed{
	width: 420px;
	border: 5px solid  #FFD764;
	text-align: left;
	float: left;
}
#menu{
	color: #FD4E79;
	padding: 10px;
}
.postagem-direita{
	background: #fff;
	width: 390px;
	height: 590px;
	border: 5px solid #FFD764;
	margin: 30px;
	float: left;

}
.postagem-esquerda{
	background: #fff;
	width: 390px;
	height: 590px;
	border: 5px solid #FFD764;
	margin: 30px;
	float: right;

}
.ident-produto{
	margin: 10px 0px;
	background:  #F7BE81;
	color: white;
	font-weight: bold;
	padding: 5px 25px;
	width: 340px;
	font-size: 20px;
}
.clear{
	clear: both;
}
#rodape{
	clear: both;
	color: white;
	font-weight: bold;
	text-align: left;
	padding: 15px;
	background: 
	linear-gradient(
          rgba(255,182,193,1), 
          rgba(255,192,203,0.9)
);
	width: 920px;
	height: 500px;
	margin: 0 auto;
}
#rodape2{
	background: white;
	text-align: left;
	padding: 20px;
	margin: 10px auto 0px auto;
}
.formt-imagem{
	padding: 5px;
}
#p2{
	font-size: 1em;

}
#p3{
	color: black;
	font-weight: bold;
}
.p4
{
	font-family: arial;
	font-style: italic;
	color: white;
	font-size: 20px;
	padding: 5px;
}
.h2{
	padding: 5px;
	font-family: arial;
	font-style: italic;
	text-align: center;
	color: white;
	margin: 20px;
}

hr {
	border: 1px dashed #FFD764;
	margin: 25px 0px 0px 0px;
	width: 770px;
	}

/***
formatar menu
**/

p{
	padding: 5px 15px;
	font-size: 1.5em;
}
h1{
	padding: 20px;
	font-size:3em; 
}
h2{
	padding: 15px;
	font-size: 2em;
}
img{
	margin: 25px;
}